.cover-book {
  width: 100%;
}

.book_description {
  word-break: break-all;
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book_header {
  text-shadow: 1px 1px 1px #b7c7cc;
}

.pagination_links {
  position: -webkit-sticky;
  position: sticky;
}

a .card {
  color: black;
}

.content-header,
.content-header .container-fluid {
  padding: 0;
}

.container_cover {
  height: 100%;
}

.cover-book-banner {
  width: 100%;
  height: 40vh;
}

.book-name-container {
  position: absolute;
  display: block;
  height: 40vh;
  top: 0;
}

.book-name {
  bottom: 0;
  position: absolute;
  color: white;
  width: 50vw;
  text-shadow: 2px 2px 2px black;
  margin-left: 50px;
}

.container_pic {
  padding-top: 3vh;
}

.picture-card img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .cover-book-banner {
    position: absolute;
    width: 100%;
    height: 30vh;
  }

  .book-name-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 30vh;
    top: 0;
  }

  .book-name {
    bottom: 0;
    position: absolute;
  }

  .container_pic {
    padding-top: 35vh;
  }
}

